/*-----------------------------------------------------------------------------*/
/*                      GENERAL AND BODY STUFF*/
/*-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Rajdhani|Abel|Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended|Ubuntu+Mono');
body{
    font-family: 'Abel', sans-serif;
    color: white;
    background: #3E5151;
    background: linear-gradient(to bottom, #333333, #c94b4b);
    background-repeat: no-repeat;
    background-size: 100%;
/*    background-image: url("https://mars.nasa.gov/assets/red_planet_bg.png");*/
}

html{
    height: 100%-50;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: indianred;
}

textarea{
    outline: none;
    width: 150px;
    height: 20px;
/*    opacity: 0.2;*/
}

/*-----------------------------------------------------------------------------*/
/*                      STUFF ABOUT NAVIGATION*/
/*-----------------------------------------------------------------------------*/
nav{
    display: flex;
    min-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: flex-end;
    left: 0;
    right: 0; 
}

.navigation{
    text-align: center;
}

.containerNav div{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 175px;
}

.containerNav{
    display: flex;
}

.target{
    font-size: 28pt;
    margin: auto auto auto auto;
    font-family: 'Rajdhani', sans-serif;
}

.target2{
    font-size: 18pt;
    margin: auto 25% auto 0;
}

#targetSub{
    font-size: 11pt;
}

/*-----------------------------------------------------------------------------*/
/*                      STUFF ABOUT SECTION*/
/*-----------------------------------------------------------------------------*/
section{
/*    display: block;*/
    background-image: url("img/");
    background-size: 100%;
    background-position: center;
    left: 0;
    right: 0;
}

.article{
    height: 80vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px dashed rgba(255, 255, 255, 0.3);
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
}

#background{
    content: "";
    background: url("http://media-channel.nationalgeographic.com/media/uploads/photos/content/photo/2016/08/29/MARS_Helmets_DL.jpg");
    background-position: bottom;
    opacity: 0.5;
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
    position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#selectablePpl{
    background-image: url("https://i.imgur.com/vvmf74H.png");
}

#ticketImageTop{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
    margin: auto;
    height: 7%;
    background-color: #eeeeee;
    width: 45%;
    border-radius: 30px 30px 0 0;
    z-index: 1;
    border-bottom: 1px dashed lightgrey;
    display: flex;
}

#ticketImageBody{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 35%;
    width: 45%;
    height: 30%;
    background-color: white;
    margin: auto;
    display: flex;
}

#ticketImageBottom{
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 30%;
    margin: auto;
    height: 7%;
    background-color: #eeeeee;
    width: 45%;
    border-radius: 0 0 30px 30px;
    border-top: 1px dashed lightgrey;
    display: flex;
}

#form{
    width: 100px;
}

.formTickets{
    margin: auto;
    top: 50%;
    width: 50%;
}

.ticketText{
    position: relative;
    left: 5%;
    top: 35%;
    margin: auto;
/*    background-color: red;*/
    color: black;
}

.ticketTextMini{
    position: relative;
    left: 5%;
    top: 35%;
    margin: auto;
/*    background-color: red;*/
    color: dimgrey;
}

.ticketColumn{
    margin: auto;
}

#spacexLogoTicket, #nasaLogoTicket{
    height: 20px;
}

#centerTextTicket{
    font-family: 'Libre Barcode 39 Extended', cursive;
    font-size: 35px;
    color: black;
}

.persona{
    margin: auto;
}

.passengerNameLabel, .passengerAgeLabel{
    color: grey;
}

.passengerName, .passengerAge{
    color: black;
}

#buttonFormTicket{
    background-color: #eeeeee; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

#buttonFormTicket:hover{
    background-color: #111111; /* Green */
    color: white;
    cursor: pointer;
}

.formTicket{
    background-color: rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin: auto;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
}

#formTicketError{
    background-color: darkred;
    display: flex;
    justify-content: center;
}
/*-----------------------------------------------------------------------------*/
/*                      STUFF ABOUT FOOTER*/
/*-----------------------------------------------------------------------------*/
footer{
    display: flex;
    height: 128px;
    justify-content:center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;
}

.fusee{
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
}

.fusee{
    height: 100px;
    position: relative;
    display: block;
}

.containerFooter{
    margin: auto;
}

#nasaLogo{
    height: 90px;
    opacity: 0.5;
}