/*-----------------------------------------------------------------------------*/
/*                      GENERAL AND BODY STUFF*/
/*-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Rajdhani|Abel|Fjalla+One');

body{
    font-family: 'Abel', sans-serif;
    color: white;
    background: #3E5151;
    background: linear-gradient(to bottom, #333333, #c94b4b);
/*    background-repeat: no-repeat;*/
    background-size: 100%;
/*    background-image: url("https://mars.nasa.gov/assets/red_planet_bg.png");*/
}

html{
    height: 100%-50;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: indianred;
}

textarea{
    outline: none;
    width: 150px;
    height: 20px;
/*    opacity: 0.2;*/
}

/*-----------------------------------------------------------------------------*/
/*                      STUFF ABOUT NAVIGATION*/
/*-----------------------------------------------------------------------------*/
nav{
    display: flex;
    min-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: flex-end;
    left: 0;
    right: 0; 
}

.navigation{
    text-align: center;
}

.containerNav div{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 175px;
}

.containerNav{
    display: flex;
}

.target{
    font-size: 28pt;
    margin: auto auto auto auto;
    font-family: 'Rajdhani', sans-serif;
}

.target2{
    font-size: 18pt;
    margin: auto 25% auto 0;
}

#targetSub{
    font-size: 11pt;
}

/*-----------------------------------------------------------------------------*/
/*                      STUFF ABOUT SECTION*/
/*-----------------------------------------------------------------------------*/
section{
/*    display: block;*/
    background-image: url("img/");
    background-size: 100%;
    background-position: center;
    left: 0;
    right: 0;
}

.article{
    height: 80vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px dashed rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
}

.reveal, .reveal2, .reveal3, #reveal4{
    margin: auto;
    font-size: 34pt;
    width: 25%;
}

#textMission1, #textMission3{
    font-size: 18pt;
    margin: auto;
    width: 50%;
    color: #eeeeee;
    opacity: 0.8;
/*    background-color: pink;*/
    text-align:justify;
}

#textMission2{
    font-size: 18pt;
    margin: auto;
    width: 50%;
    color: #eeeeee;
    opacity: 0.8;
    text-align:justify;
}

.title{
    font-weight:bold;
    font-size: 22pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#yo{
    height: 100px;
    display: flex;
    background-color: rgba(255, 128, 255, 0.3);
}

#yoTitle{
    margin: auto;
    font-size: 25pt;
}
/*-----------------------------------------------------------------------------*/
/*                      STUFF ABOUT FOOTER*/
/*-----------------------------------------------------------------------------*/
footer{
    display: flex;
    height: 128px;
    justify-content:center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;
}

.fusee{
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.fusee{
    height: 100px;
    position: relative;
    display: block;
}

.containerFooter{
    margin: auto;
}

#tickets{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 32pt;
    opacity: 0.5;
}

#tickets:hover{
    color: white;
    opacity: 1;
}